h1 {
  color:red;
  font-size: Helvetica;
  line-height: lighter;
}
body {
  color: black;
  background-image: url("image/vague.jpg");
  background: no-repeat;
  font-family: 'Pangolin', cursive;
}
a {
  color: blue;
}
a:hover {
  color: orange;
}

p {
  width: 50%;
}


#image-profile {
  border-radius: 500px;
  box-shadow: 10px 10px blue;
}

#ma-vision   {
  text-decoration: underline;
}
#mon-ambition {
  text-decoration: underline;
}
#ma-musique-preferee {
  text-decoration: underline;
}
#Adoptez-un-toto {
  text-decoration: underline;
}

.italique {
  text-decoration: align;
}

.card {
  background-color: lightgrey;
  border: 1px dotted black;
  box-shadow: 50px 50px orange;
  width: 1500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#sidebar {
  background-color: orange;
  border: 1px dotted black;
  box-shadow: 30px 30px lightgrey;
  width: 100px;
  float: left;
  height: 1550px;
  margin: 10 auto;
  margin-bottom: 20px;
}
